html {
    scroll-behavior: smooth;
  }

  :target:before {
    content:"";
    display:block;
    height:72px; /* fixed header height*/
    margin:-72px 0 0; /* negative fixed header height */
    }

body {
    background-color: black;
}
#legal li, a {
    display:inline;
    color: gray;
  }

  .p-5 {
    padding: 3rem !important;
  }

        @media (min-width: 200px) {
            #img1{ 
                height: 300px !important;
            }
            #img2{ 
                height: 300px !important;
            }
            #img3{ 
                height: 300px !important;
            }
          }
          
          @media (min-width: 300px) {
            #img1{ 
                height: 300px !important; 
            }
            #img2{ 
                height: 300px !important; 
            }
            #img3{ 
                height: 300px !important; 
            }
          }
          
          @media (min-width: 400px) {
            #img1{ 
                height: 300px !important;
            }
            #img2{ 
                height: 300px !important;
            }
            #img3{ 
                height: 300px !important;
            }
          }
          @media (min-width: 600px) {
            #img1{ 
                height: 400px !important;
            }
            #img2{ 
                height: 400px !important;
            }
            #img3{ 
                height: 400px !important;
            }
          }
          @media (min-width: 800px) {
            #img1{ 
                height: 1100px !important;
            }
            #img2{ 
                height: 1100px !important;
            }
            #img3{ 
                height: 1100px !important;
            }
          }


#mission, .mission {
    background-image: url(../Images/BG-Images/Mission.png);
    background-position: center;
    background-size: cover;
    padding-bottom: 72px;
}



