:root {
    --yellow: #dbb468;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #dbb468;
    --secondary: #6c757d;
    --warning: #dbb468;
    --dark: #1a1a1a;
    --trans-dark: #000000ad;
}
body {
    background-color: var(--dark);
}
html {
    scroll-behavior: smooth;
}
textarea {
    resize: none;
}
.shopify-buy-modal-is-active {
    height: auto!important;
    overflow: hidden!important;
}
#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
#footer {
    background-color: black;
}
:target:before {
    content:"";
    display:block;
    height:72px; /* fixed header height*/
    margin:-72px 0 0; /* negative fixed header height */
}
#legal li, a {
    display:inline;
    color: gray;
    list-style: none;
}
li, a:hover {
    color: var(--primary);
}
#hats, #hoodies, #T-Shirts {
    margin-left: -15px;
}
#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #1a1a1a;
}
#mainNav .navbar-toggler {
    padding: 0.75rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.75rem;
    color: #fff;
    text-transform: uppercase;
    border: 0;
}
#mainNav .navbar-brand {
    color: #dbb468;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
}
#mainNav .navbar-brand img {
    height: 1.5rem;
}
#mainNav .navbar-nav .nav-item .nav-link {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.95rem;
    color: #fff;
    letter-spacing: 0.0625em;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #dbb468;
}
#home img {
    height: auto !important;
    max-width: 100%
}
#contact {
    padding-bottom: 74px;
    padding-top: 10px;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.navbar-shrink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #1a1a1a;
  }

.fa-angle-double-left, .fa-angle-double-right {
    color: var(--dark);
}
.mission {
    background-image: url(../Images/BG-Images/Mission.png);
    background-position: center;
    background-size: cover;
}
.btn-primary{
    background-color: var(--dark);
    border-color: var(--primary);
}
.btn-primary:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--dark);
}
.contact-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    font-size: 18px;
}
input[type=checkbox] {
    margin-right: 10px;
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
}
footer input[type=email] {
    text-align: center;
}
.p-5 {
    padding: 3rem !important;
}
.bg-dark {
    background-color: #1a1a1a !important;
}
.bg-black {
      background-color: black;
}
    @media (min-width: 992px) {
    #mainNav {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border: none;
      transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
      font-size: 1.5em;
      transition: font-size 0.3s ease-in-out;
    }
    #mainNav .navbar-brand img {
      height: 2rem;
      transition: height 0.3s ease-in-out;
    }
    #mainNav.navbar-shrink {
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: #1a1a1a;
    }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.25em;
    }
    #mainNav.navbar-shrink .navbar-brand svg,
    #mainNav.navbar-shrink .navbar-brand img {
      height: 2.5rem;
    }
    #mainNav .navbar-nav .nav-item {
      margin-right: 1rem;
    }
    #mainNav .navbar-nav .nav-item:last-child {
      margin-right: 0;
    }
  }
  @media (max-width: 992px) {
    .carousel-inner {
        padding-top: 65px;
    }
    .fa-angle-double-right,
    .fa-angle-double-left {
    display: none;
    }
/* Removes border in footer */
    @media (max-width: 660px) {
    .border-right{
        border-right: 0px solid #dee2e6 !important;
    }
}
}